<div class="container flex text-black h-auto font-raleway">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 cursor-pointer"
  >
    <div
      *ngFor="let country of countries()"
      class="bg-white dark:bg-slate-600 p-4 rounded shadow hover:scale-105 transition-transform text-slate-500 dark:text-white flex flex-col-2 gap-4"
    >
      <img
        [src]="country.flags.png"
        alt="Flag"
        class="w-20 h-14 mb-2 object-cover"
      />
      <div class="flex-col">
        <h2 class="font-bold text-cyan-500">{{ country.region }}</h2>
        <p class="font-semibold text-black dark:text-white">
          {{ country.name.common }}
        </p>
        <p class="text-sm font-light text-slate-400">{{ country.capital }}</p>
      </div>
    </div>
  </div>
</div>
